
.newsletter { 
    &-heading { 
        font-size: 1.5rem;
        line-height: 2.125rem;
    }
}

.newsletter-form-wrap { 
    &-3 { 
        .nk-field-error { 
            position: absolute;
        }
    }
}




@include media-breakpoint-up(md){
    .newsletter-form-wrap{
        width: 352px;
        &-2{
            width: 488px;
        }
        &-3{
            width: 438px;
        }
        &-4{
            width: 374px;
        } 
        &-5 { 
            width: 344px;
        }

        input { 
            padding: 1rem 1.375rem;
        }

    }

    .form-group-one { 
        input[type="submit"] { 
            width: 174px;
            padding: 1rem 2rem;
        }
    }
    
}


@include media-breakpoint-up(lg) { 
    .newsletter { 
        &-heading { 
            font-size: 2.25rem;
            line-height: 2.875rem;
        }
    }
}


@include media-breakpoint-up(xl) { 
    .newsletter { 
        &-heading { 
            font-size: 3rem;
            line-height: 4rem;
        }
    }
}

@include media-breakpoint-down(md) {
    .nk-newsletter-section { 
        .form-group-one { 
          .gap-col { 
                &:first-child { 
                    width: 100%;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .nk-newsletter-section { 
        .form-group-one { 
            flex-direction: column;
          .gap-col { 
              width: 100%;
            }

            input[type="submit"] { 
                width: 100%;
                margin-top: 12px;
            }
        }
    }
}
