$testimonial-class: 'nk-testimonial';

.#{$testimonial-class}{
    &-wrap{
        &-s1{
            padding: 0rem !important;
            height: 100%;
        }
        &-s2{
            height: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;
        }
        &-s3{
            padding: 1rem 4.5rem;
            height: 100%;
        }
        &-s4{
            padding: 0;
        }
    }
    &-card{
        padding: $testimonial-card-gap-sm;
        background-color: $testimonial-card-bg;
        border-radius: $testimonial-card-border-radius;
        box-shadow: $testimonial-card-box-shadow;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .#{$testimonial-class}-img{
            width: 380px;
            flex-shrink: 0;
            margin-top: -50px;
            margin-bottom: 60px;
            img{
                width: 100%;
            }
        }
        &-s1{
            background-color: $testimonial-card-s1-bg;
            color: $testimonial-card-s1-theme-color;
            height: 100%;
            display: block;
            h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
                color: $testimonial-card-s1-theme-color;
            }
            p,
            .media-text .text {
                opacity: 0.7;
            }
            .#{$testimonial-class}-content{
                display: flex;
                flex-direction: column;
                height: 100%;
                .media-group{
                    flex-grow: 0;
                }
            }
        }
        &-s2{
            box-shadow: 0 0px 6px rgba($base-color, 0.1);
            position: relative;
            .#{$testimonial-class}-content{
                position: relative;
                z-index: 5;
            }
            .#{$testimonial-class}-media{
                margin-top: -80px;
            }
            &::after{
                position: absolute;
                content: "";
                bottom: 0;
                right: 0;
                width: 160px;
                height: 110px;
                background-image: url('#{$assetsRoot}quote/a.png');
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 1;
            }
            &::before{
                position: absolute;
                content: "";
                top: -145px;
                left: -36px;
                background-image: url('#{$assetsRoot}shape/q.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 426px;
                height: 524px;
                z-index: -1;
                transition: 0.8s;
                display: none;
            }
        }
        &-s3{
            box-shadow: $testimonial-card-s3-box-shadow;
            border-radius: $testimonial-card-s3-border-radius;
            p{
                color: $testimonial-card-s3-text-color;
            }
        }
        &-s4{
            background-color: transparent;
            border-radius: 0;
            box-shadow: none;
            padding: 0 !important;
            text-align: center;
            .#{$testimonial-class}-content{
                padding-left: 0 !important;
            }
        }

    }
    &-icon{
        margin-bottom: 0.75rem;
        .icon{
            font-size: $testimonial-card-icon-font-size;
            margin-left: -0.75rem;
            line-height: 0.5;
            background: $testimonial-card-icon-background-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }


    &-s5 { 
        .#{$testimonial-class} { 

            &-card { 
                padding: 1.5rem;
            }
            &-icon { 
                margin: 0px;
            }

            &-img { 
                margin: 0px;
                width: 100%;
                height: 17.5rem;
                position: relative;
                pointer-events: none;
                border-radius: .75rem;
                background-color: $nk-purple-200;

                img { 
                    left: 50%;
                    bottom: 0px;
                    height: 100%;
                    position: absolute;
                    object-fit: contain;
                    width: calc(100% - 16px);
                    transform: translateX(-50%);
                }
            }

            &-content { 
                margin-top: 1.5rem;
            }
        }
    }
}



@include media-breakpoint-up(sm) { 
    .#{$testimonial-class} { 
        
        &-s5 { 
            .#{$testimonial-class} { 
                &-img { 
                    height: 23.75rem;
                }
            }
        }

    }
}

@include media-breakpoint-up(md){
    .#{$testimonial-class}{

        &-wrap { 
            padding: 2rem;
        }
        &-card{
            padding: $testimonial-card-gap;
        }

        &-card-s2 { 
            .#{$testimonial-class}-media{
                margin-top: -108px;
            }
        }
    }
}


@include media-breakpoint-up(xl){
    .#{$testimonial-class}{

        
        &-card{
            flex-direction: row;
            .#{$testimonial-class}-img{
                margin-bottom: 0;
            }
            &-s1,
            &-s3 {
                padding: $testimonial-card-s1-gap;
                .#{$testimonial-class}-content{
                    padding-left: 0;
                }
            }
            &-s2 {
                padding: $testimonial-card-s2-gap;
                .#{$testimonial-class}-content{
                    padding-left: 0;
                }
            }


        }
        &-content{
            padding-left: $testimonial-card-content-gap;
        }

        &-s5 { 
              
            .#{$testimonial-class} { 
                &-img { 
                        width: 23.75rem;
                        img { 
                            height: auto;

                        }
                }
                &-content {
                    margin: 0px;
                }
            }
        }
    }
}



@include media-breakpoint-down(md) { 
    .#{$testimonial-class} { 

        &-content { 
            p.h3 { 
                font-size: 18px;
                line-height: 24px;
            }
        }

        &-s5 { 
            .#{$testimonial-class} {
                &-wrap { 
                    padding: 24px;
                    .nk-testimonial-card { 
                        box-shadow: -4px -4px 24px rgb(192 192 192 / 12%), 4px 4px 24px rgb(192 192 192 / 16%);
                    }
                }
                &-content { 
                    h3 { 
                        font-size: 18px;
                        line-height: 1.75rem;
                    }
                }
            }

        }
    }
}