.overline-title{
    padding: 0px;
    font-size: .875rem;
    line-height: 1rem;
    display: inline-block;
    letter-spacing: 0.04rem;
    color: $overline-title-color;
    text-transform: uppercase;
    font-weight: 600;
    
    &-sep{
        z-index: 1;
        color: $darker;
        font-weight: 600;
        font-size: .75rem;
        position: relative;
        line-height: .875rem;
        text-transform: uppercase;
        &::before,
        &::after{
            content: "";
            top: 50%;
            height: 1px;
            z-index: -1;
            position: absolute;
            width: calc(50%  - 65px);
            transform: translateY(-50%);
            background: $overline-title-sep-bg;
        }
        &::before{
            left: 0;
        }
        &::after{
            right: 0;
        }
    }
}

.text{
    &-base{
        color: $text-base !important;
    }
    &-light{
        color: $text-light !important;
    }
    &-layout{
        &-secondary{
            color: $normal-layout-secondary !important;
        }
    }
}

.smaller{
    font-size: $smaller-font-size;
}

.lead-text{
    font-weight: $lead-text-font-weight;
    color: $lead-text-color;
    display: block;
}
.sub-text{
    font-size: .75rem;
    color: $sub-text-color;
    display: block;
    font-weight: $sub-text-font-weight;
}

.is-theme{
    .sub-text,
    .lead-text {
        color: $white;
    }
    .sub-text{
        font-weight: 400;
    }
}
