.#{$nk-timeline-class}{
    &-item{
        &:not(:last-child){
            padding-bottom: $nk-timeline-item-gap;
        }
        &-inner{
            display: flex;
        }
    }
    &-symbol{
        position: relative;
        width: 2.25rem;
        flex-shrink: 0;
        &::after{
            width: $nk-timeline-symbol;
            height: $nk-timeline-symbol;
            top: 10px;
            left: 0.25rem;
            position: absolute;
            content: '';
            background-color: $nk-timeline-symbol-bg;
            box-shadow: $nk-timeline-symbol-box-shadow;
            border-radius: 50%;
            z-index: 2;
        }
        &.color{
            &-1{
                &::after{
                    background-color: $nk-timeline-symbol-bg-1;
                    box-shadow: $nk-timeline-symbol-box-shadow-1;
                }
            }
            &-2{
                &::after{
                    background-color: $nk-timeline-symbol-bg-2;
                    box-shadow: $nk-timeline-symbol-box-shadow-2;
                }
            }
        }
    }
    &-group{
        display: flex;
        flex-wrap: wrap;
    }
}

@include media-breakpoint-up(sm){
    .#{$nk-timeline-class}{
        &-group{
            &-item{
                width: 50%;
            }
        }
    }
}

@include media-breakpoint-up(lg){
    .#{$nk-timeline-class}{
        &-group{
            &.has-divider{
                .#{$nk-timeline-class}-group{
                    &-item{
                        position: relative;
                        z-index: 1;
                        &::after{
                            position: absolute;
                            content: "";
                            top: $timeline-group-item-after-top;
                            left: 50%;
                            width: 100%;
                            background-color: $timeline-group-item-after-bg;
                            height: $timeline-group-item-after-height;
                            z-index: -1;
                        }
                        &:last-child{
                            &::after{
                                display: none;
                            }
                        }
                    }
                }
            }
            &-item{
                width: $timeline-group-item-width;
            }
        }
    }
}
