canvas{
    width: 100%;
    max-width: 100%;
}
body{
    font-family: $nk-font-family-sans-serif;
    color: $base-text;
    font-weight: $body-font-weight;
}
a {
    transition: color .2s, background-color .2s, border .2s, box-shadow .2s;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: bold;
    color: $base-color;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p{
    &:where(:last-child){
        margin-bottom: 0;
    }
    .is-theme & {
        color: $white;
    }
}

.is-theme {
    .nk-nav-btns {
        .btn,
        .btn:hover {
            color: $white;
        }
        .btn-primary:hover,
        .btn-danger:hover,
        .btn-success:hover,
        .btn-info:hover,
        .btn-secondary:hover,
        .btn-white:hover,
        .btn-outline-primary:hover,
        .btn-outline-danger:hover,
        .btn-outline-success:hover,
        .btn-outline-info:hover,
        .btn-outline-secondary:hover,
        .btn-outline-white:hover {
            color: $base-color;
        }
    }
}
ol, 
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}

// .home-analytics,
// .home-saas,
// .home-layout-2,
// .home-layout-3,
// .home-collaboration-tool {
//     .display-6{
//         letter-spacing: -0.025em;
//         line-height: 1.32; // 84
//     }
//     h1, .h1{
//         line-height: 1.33; // 48
//     }
//     h2, .h2{
//         line-height: 1.51; // 60
//     }
//     h3, .h3{
//         line-height: 1.61; // 52
//         letter-spacing: -0.02em;
//     }
//     h4, .h4{
//         line-height: 1.68; // 40
//         letter-spacing: -0.015em;
//     }
//     h5, .h5 {
//         line-height: 1.6; // 32
//         letter-spacing: -0.01em;
//     }
//     h6, .h6 {
//         line-height: 1.58; // 58
//     }
//     .smaller{
//         line-height: 1.7;
//     }
//     .small{
//         line-height: 1.6;
//     }
// }

.display-6{
    letter-spacing: -0.025em;
    line-height: 1.32; // 84
}
h1, .h1{
    line-height: 1.33; // 48
}
h2, .h2{
    line-height: 1.51; // 60
}
h3, .h3{
    line-height: 1.61; // 52
    letter-spacing: -0.02em;
}
h4, .h4{
    line-height: 1.68; // 40
    letter-spacing: -0.015em;
}
h5, .h5 {
    line-height: 1.6; // 32
    letter-spacing: -0.01em;
}
h6, .h6 {
    line-height: 1.58; // 58
}
.smaller{
    line-height: 1.7;
}
.small{
    line-height: 1.6;
}

.home-live-chat-app {
    .display-6{
        letter-spacing: -0.025em;
        line-height: 1.12; // 72
    }
    h1, .h1{
        line-height: 1.33; // 64
        letter-spacing: -0.02em;
    }
    h2, .h2{
        line-height: 1.41; // 56
        letter-spacing: -0.02em;
    }
    h3, .h3{
        line-height: 1.40; // 45
    }
    h4, .h4{
        line-height: 1.68; // 40
    }
    h5, .h5 {
        line-height: 1.6; // 32
        letter-spacing: -0.01em;
    }
    h6, .h6 {
        line-height: 1.58; // 28
        letter-spacing: -0.01em;
    }
}

.home-kids-course {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
        font-family: $nk-font-family-sans-serif-secondary;
        font-weight: bold;
    }
    .display-6{
        letter-spacing: -0.025em;
        line-height: 1.25; // 80
    }
    h1, .h1{
        line-height: 1.33; // 64
        letter-spacing: -0.02em;
    }
    h2, .h2{
        line-height: 1.41; // 56
        letter-spacing: -0.02em;
    }
    h3, .h3{
        line-height: 1.61; // 52
        letter-spacing: -0.02em;
    }
    h4, .h4{
        line-height: 1.68; // 40
        letter-spacing: -0.015rem;
    }
    h5, .h5 {
        line-height: 1.6; // 32
        letter-spacing: -0.01em;
    }
    h6, .h6 {
        line-height: 1.58; // 28
        letter-spacing: -0.01em;
    }
}

.home-layout-1 {
    .display-6{
        letter-spacing: -0.025em;
        line-height: 1.32; // 84
    }
    h1, .h1{
        line-height: 1.33; // 64
        letter-spacing: -0.02em;
    }
    h2, .h2{
        line-height: 1.41; // 56
        letter-spacing: -0.02em;
    }
    h3, .h3{
        line-height: 1.5; // 54
        letter-spacing: -0.01em;
    }
    h4, .h4{
        line-height: 1.5; // 36
    }
    h5, .h5 {
        line-height: 1.6; // 32
        letter-spacing: -0.01em;
    }
    h6, .h6 {
        line-height: 1.58; // 28
        letter-spacing: -0.01em;
    }
}
