$banner-class: 'nk-banner';

.#{$banner-class} {
    &-wrap{
        z-index: 5;
        padding: 60px 0px;
        position: relative;
        padding-top: 130px !important;
        &-live-chat{
            padding-top: 3.75rem;
        }
        &-kids-course{
            padding-top: 3.75rem;
            padding-bottom: 0px !important;
        }
        &-2{
            padding-bottom: $banner-gap-y;
        }
        &-layout-3{
            padding-top: 50px;
        }
    }

    &-card{
        background: $banner-card-bg;
        border-radius: $banner-card-border-radius;
        padding: $banner-card-padding-y-sm $banner-card-padding-x-sm;
        color: $banner-card-color;
        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
            color: $banner-card-color;
        }
        .form-note{
            opacity: 0.7;
        }
        p{
            font-weight: 400;
        }
    }

    &-img{
        &-s1{
            position: relative;
            .thumb{
                position: absolute;
                &-1{
                    left: -14.92%;
                    bottom: 0;
                    width: 34.0726%;
                }
                &-2{
                    right: -14.92%;
                    bottom: 7.5%;
                    width: 46.5726%;
                }
            }
        }


        &-s2 { 
            position: relative;

            .thumb { 
                z-index: -1;
                position: absolute;
                user-select: none;
                pointer-events: none;

                &-base { 
                    z-index: 1;
                }

                &-1 , 
                &-2 { 
                    bottom: 0px;
                }

                &-1 { 
                    left: -23.1%;
                }
                &-2 { 
                    right: -23.1%;
                }
            }
            
        }
    }

    &-business-feature { 
        overflow: hidden;
        padding-top: 11.25rem;
        padding-top: 160px !important;
        background-color: #0A1425 !important;
    }

    &-productLanding { 
        .brands { 
            gap: .75rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    &-collaboration {  
        .#{$banner-class} { 
                
            &-wrap { 
                padding-bottom: 12.9375rem;

               &.has-mask { 
                z-index: 0;
               }
            }

            &-grids { 
                margin-top: -80px;

                &-content { 
                    display: none;
                }
               
            }

        }
    }

    &-features { 
        &-content { 
            position: relative;
        }

        &-base { 
            z-index: 2;
            height: auto;
        }

        &-children { 
            z-index: -1;
            position: absolute;

            &.one,
            &.three { 
                z-index: 1;
            }   

            &.one,
            &.two ,
            &.three { 
                display: none;
            }
         


        }

    }

}

.nk-ribbon{
    background-color: $normal-layout-dark-900;
    padding: 4px 10px 4px 4px;
    display: inline-flex;
    align-items: center;
    border-radius: 30px;
    a{
        color: $white;
        text-transform: uppercase;
        font-size: 14px;
        span + .icon,
        .icon + span{
            margin-left: 6px;
        }
    }
}

.home-saas {
    .nk-header.is-theme{
        .banner-text{
            opacity: 0.7;
        }
    }
}


.features-banner { 
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    align-items: center;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &-info,
    &-cover { 
        width: 100%;
    }

    &-info { 
        order: 2;
    }

    &-cover { 
        order: 1;
        height: 22.5rem;
        position: relative;
        background-color: $primary-100;

        img { 
            top: 50%;
            right: 0px;
            position: absolute;
            transform: translateY(-50%);
        }
    }
}



// responsive query 


@include media-breakpoint-up(sm) { 

    .features-banner { 
        &-cover { 
            height: 32rem;
        }
    }
}

@include media-breakpoint-up(md) { 

    .#{$banner-class} { 

        &-wrap { 
            padding-top: 160px !important;
        }
        &-img { 
            &-s1{
                position: relative;
                .thumb{
                    position: absolute;
                    &-1{
                        bottom: -12%;
                    }
                }
            }
        }

        &-features { 
        padding-top: 115px;



        &-children { 

            &.one { 
                top: -36px;
                left: -12px;
                display: block;
            }

            &.three { 
                right: -70px;
                bottom: -70px;
                display: block;
            }
            
        }
        }



        &-collaboration { 
            .#{$banner-class} { 
                
                &-grids { 
                    margin-top: -140px;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg){

    .#{$banner-class} { 

        &-wrap { 
            padding: $banner-gap-y 0px;


            &-analytics { 
                padding-top: 210px !important;
            }

            &-digital { 
                padding-top: 120px !important;
            }

        }

        &-card{
            padding: $banner-card-padding-y $banner-card-padding-x;
        }

        &-business-feature { 
            padding-top: 208px !important;
        }

        &-productLanding { 

            .brands { 
                gap: 1.875rem;
            }
          
        }
        
        &-features { 
            &-base { 
                height: 500px;
            }
            &-children { 


                &.one { 
                    top: 86px;
                    left: -24px;
                }
    
                &.two { 
                    top: -120px;
                    right: 0px;
                    display: block;
                }
    
                &.three { 
                    bottom: 0px;
                    left: -45px;
                }
            }

        }
    }

    
    .features-banner { 
        align-items: center;
        flex-direction: row !important;


        &-info { 
            order: 1;
            width: 55%;
        }

        &-cover { 
            order: 2;
            width: 45%;
            height: auto;
            img { 
                position: static;
                transform: translateY(0);
            }
        }
    }
}

@include media-breakpoint-up(xl) { 
    .#{$banner-class} { 
        &-features { 

            &-children { 

                &.one { 
                    top: 75px;
                    left: 190px;
                }
    
                &.two { 
                    top: -115px;
                    right: 80px;
                }
    
                &.three { 
                    left: -30px;
                    bottom: -75px;
                }
            }
        }
    }
}

@include media-breakpoint-up(xxl) { 
    .#{$banner-class} { 
          
        &-collaboration { 
            .#{$banner-class} { 
                
                &-grids { 
                    text-align: center;
                    &-content { 
                        gap: 32px;
                        display: inline-flex;
                        .left,
                        .right { 
                            gap: 30px;
                            display: flex;

                            img { 
                                flex-shrink: 0;
                            }
                        }
                
                        .left { 
                            width: 30%;
                            flex-direction: column;
                        }
                
                        .right { 
                            width: 70%;
                            flex-shrink: 0;
                            flex-wrap: wrap;
                            &-row { 
                                gap: 30px;
                                display: flex;
                            }
                        }
                    }
                }
        
            }
        }

    }
}


@include media-breakpoint-down(md) { 
    .#{$banner-class} { 
        &-collaboration { 

            .#{$banner-class} { 

                &-wrap { 
                    padding-bottom: 7.5rem;
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) { 
    .#{$banner-class} { 
        &-collaboration { 
            padding-top: 0rem !important;
        }

    }
}





